@page "/second"

<PageTitle>Second Test</PageTitle>
<h1>Second Test</h1>

<FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Office" />
<!-- Here, the 'View Permission', 'Edit' and 'Delete' buttons doing nothing when clicked -->
<FluentMessageBar
    Title="Warning" Intent="@MessageIntent.Warning" AllowDismiss="false">
    Don't forget to <strong>save</strong> your changes!
</FluentMessageBar>

When adding the theme block on this specific page, it works fine.

@code {
    
}